[data-theme="dark"] {
	--hl-color: #f8f8f2;
	--hl-bg: #263E52;
	/* --hltools-color: #61767d; */
	/* --hltools-bg: #fae8b8;
	--hlnumber-color: #8a9ea5;
	--hlnumber-bg: #fdf6e3; */
	/* --hlexpand-bg: #fbeecb; */
}

[data-theme="dark"] .token.comment,
[data-theme="dark"] .token.prolog,
[data-theme="dark"] .token.doctype,
[data-theme="dark"] .token.cdata {
	color: #5c98cd;
}

[data-theme="dark"] .token.punctuation {
	color: #f8f8f2;
}

[data-theme="dark"] .namespace {
	opacity: .7;
}

[data-theme="dark"] .token.property,
[data-theme="dark"] .token.tag,
[data-theme="dark"] .token.constant,
[data-theme="dark"] .token.symbol,
[data-theme="dark"] .token.deleted {
	color: #F05E5D;
}

[data-theme="dark"] .token.boolean,
[data-theme="dark"] .token.number {
	color: #BC94F9;
}

[data-theme="dark"] .token.selector,
[data-theme="dark"] .token.attr-name,
[data-theme="dark"] .token.string,
[data-theme="dark"] .token.char,
[data-theme="dark"] .token.builtin,
[data-theme="dark"] .token.inserted {
	color: #FCFCD6;
}

[data-theme="dark"] .token.operator,
[data-theme="dark"] .token.entity,
[data-theme="dark"] .token.url,
[data-theme="dark"] .language-css .token.string,
[data-theme="dark"] .style .token.string,
[data-theme="dark"] .token.variable {
	color: #f8f8f2;
}

[data-theme="dark"] .token.atrule,
[data-theme="dark"] .token.attr-value,
[data-theme="dark"] .token.function,
[data-theme="dark"] .token.class-name {
	color: #66D8EF;
}

[data-theme="dark"] .token.keyword {
	color: #6EB26E;
}

[data-theme="dark"] .token.regex,
[data-theme="dark"] .token.important {
	color: #F05E5D;
}

[data-theme="dark"] .token.important,
[data-theme="dark"] .token.bold {
	font-weight: bold;
}

[data-theme="dark"] .token.italic {
	font-style: italic;
}

[data-theme="dark"] .token.entity {
	cursor: help;
}

/*  */

[data-theme="dark"] .container pre > code,
[data-theme="dark"] .container code {
    background: var(--hl-bg);
}