[data-theme="light"] {
	--hl-color: #657b83;
	--hl-bg: #fdf6e3;
	/* --hltools-color: #8a9ea5;
	--hltools-bg: #fae8b8;
	--hlnumber-color: #8a9ea5;
	--hlnumber-bg: #fdf6e3;
	--hlexpand-bg: #fbeecb; */
}

[data-theme="light"] .token.comment,
[data-theme="light"] .token.prolog,
[data-theme="light"] .token.doctype,
[data-theme="light"] .token.cdata {
	color: #93a1a1;
	/* base1 */
}

[data-theme="light"] .token.punctuation {
	color: #586e75;
	/* base01 */
}

[data-theme="light"] .token.namespace {
	opacity: .7;
}

[data-theme="light"] .token.property,
[data-theme="light"] .token.tag,
[data-theme="light"] .token.boolean,
[data-theme="light"] .token.number,
[data-theme="light"] .token.constant,
[data-theme="light"] .token.symbol,
[data-theme="light"] .token.deleted {
	color: #268bd2;
	/* blue */
}

[data-theme="light"] .token.selector,
[data-theme="light"] .token.attr-name,
[data-theme="light"] .token.string,
[data-theme="light"] .token.char,
[data-theme="light"] .token.builtin,
[data-theme="light"] .token.url,
[data-theme="light"] .token.inserted {
	color: #2aa198;
	/* cyan */
}

[data-theme="light"] .token.entity {
	color: #657b83;
	/* base00 */
	background: #eee8d5;
	/* base2 */
}

[data-theme="light"] .token.atrule,
[data-theme="light"] .token.attr-value,
[data-theme="light"] .token.keyword {
	color: #859900;
	/* green */
}

[data-theme="light"] .token.function,
[data-theme="light"] .token.class-name {
	color: #b58900;
	/* yellow */
}

[data-theme="light"] .token.regex,
[data-theme="light"] .token.important,
[data-theme="light"] .token.variable {
	color: #cb4b16;
	/* orange */
}

[data-theme="light"] .token.important,
[data-theme="light"] .token.bold {
	font-weight: bold;
}

[data-theme="light"] .token.italic {
	font-style: italic;
}

[data-theme="light"] .token.entity {
	cursor: help;
}