/* Maple Mono Normal NL CN */
@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN Regular"),
    local("MapleMonoNormalNL-CN-Regular"),
    url("/fonts/maple-mono-normal-nl-cn/regular.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN SemiBold"),
    local("MapleMonoNormalNL-CN-SemiBold"),
    url("/fonts/maple-mono-normal-nl-cn/semibold.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN Bold"),
    local("MapleMonoNormalNL-CN-Bold"),
    url("/fonts/maple-mono-normal-nl-cn/bold.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN Italic"),
    local("MapleMonoNormalNL-CN-Italic"),
    url("/fonts/maple-mono-normal-nl-cn/italic.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN SemiBold Italic"),
    local("MapleMonoNormalNL-CN-SemiBoldItalic"),
    url("/fonts/maple-mono-normal-nl-cn/semibold-italic.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/semibold-italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono Normal NL CN";
  src:
    local("Maple Mono Normal NL CN Bold Italic"),
    local("MapleMonoNormalNL-CN-BoldItalic"),
    url("/fonts/maple-mono-normal-nl-cn/bold-italic.woff2") format("woff2"),
    url("/fonts/maple-mono-normal-nl-cn/bold-italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Resource Han Rounded CN */
@font-face {
  font-family: "Resource Han Rounded CN";
  src:
    local("Resource Han Rounded CN Regular"),
    local("Resource-Han-Rounded-CN-Regular"),
    url("/fonts/resource-han-rounded-cn/regular.woff2") format("woff2"),
    url("/fonts/resource-han-rounded-cn/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Resource Han Rounded CN";
  src:
    local("Resource Han Rounded CN Medium"),
    local("Resource-Han-Rounded-CN-Medium"),
    url("/fonts/resource-han-rounded-cn/medium.woff2") format("woff2"),
    url("/fonts/resource-han-rounded-cn/medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Resource Han Rounded CN";
  src:
    local("Resource Han Rounded CN Bold"),
    local("Resource-Han-Rounded-CN-Bold"),
    url("/fonts/resource-han-rounded-cn/bold.woff2") format("woff2"),
    url("/fonts/resource-han-rounded-cn/bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
